<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Prediction of Getting Admission</h1>
<h4>Enter the following details : </h4>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="university_rating" placeholder="University Rating (Out of 5)" required="required" />
        <input type="text" name="sop" placeholder="Statement of Purpose Strength (Out of 5)" required="required" />
		<input type="text" name="lor" placeholder="LOR Strength (Out of 5)" required="required" />
		<input type="text" name="cgpa" placeholder="Undergraduate CGPA (Out of 10)" required="required" />
		<input type="text" name="research" placeholder="Research Experience (0 or 1)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
